@model Hotel.Data.Entities.AppFloor
@{
	var count = 1;
}

<div class="col-md-12" style="padding-bottom: 20px">
	<div class="row w-100 mt-2">
		<div class="col-auto p-0 ps-2 ">
			<a asp-action="Index" class="text-decoration-none">Quản lý danh sách tầng /</a>
		</div>
		<div class="col-auto p-0 ms-1">
			<i>Xóa tầng</i>
		</div>
	</div>
	<div class="row w-100 fs-4 pt-2">
		<span class="ps-2" style="font-size: 25px">Xác nhận xóa</span>
	</div>
	<hr />
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row">
		<div class="col-6 p-0 ps-4">
			<div class="row fs-5">
				Thông tin tầng
			</div>
			<div class="row " style="font-size: 12px">
				<span class="p-0"><i>Ngày tạo: @(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("dd/MM/yyyy") : "N/A")</i></span>
			</div>
			<div class="row mt-3">
				<p class="p-0 mb-1 fw-bold">Tên tầng</p>
				<input type="text" asp-for="FloorNumber" class="form-control" disabled />
			</div>
			@if (Model.appRooms.Count() > 0)
			{
				<div class="row mt-3 pe-5" style="margin-left: 2px">
					<div class="p-0 mb-4 fs-5 fw-bold">Có @Model.appRooms.Count phòng bị ảnh hưởng <span class="text-danger">*</span></div>
					@foreach (var item in Model.appRooms)
					{
						<p class="p-0 mb-1 text-danger"><span class="fw-bold">@count .</span> @item.Name</p>
						count++;
					}
				</div>
			}
			else
			{
				<div class="p-0 mt-4 fs-5 fw-bold">Không có phòng bị ảnh hưởng - có thể xóa<span class="text-danger">*</span></div>
			}
		</div>
		<div class="col-5 ms-auto p-0" style="margin-left: auto">
			<div class="alert alert-info mt-0">
				<span class=" fw-bold ">Lưu ý việc chuyển đổi 'Phòng' sang 'Tầng' khác </span>
				<div> Thay đổi này có thể do:</div>
				<ul>
					<li>Thay đổi cấu trúc tòa nhà hoặc thiết kế không gian.</li>
					<li>Thay đổi nhu cầu sử dụng không gian theo mùa hoặc theo dự án.</li>
					<li>Thay đổi trong quy định xây dựng hoặc tiêu chuẩn an toàn.</li>
				</ul>
				<strong> * </strong> Nếu 'tầng' có 'phòng' bị ảnh hưởng - việc thay đổi tầng sẽ cập nhật lại tất cả các tầng của phòng
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 35px">
		@if (Model.appRooms.Count() <= 0)
		{
			<div class="form-group">
				<button type="button" class="btn btn-danger js-btn-import">
					<a asp-action="DeleteFloor" asp-controller="AdminFloor" asp-route-id="@Model.Id" class="text-light">
						<i class="fa fa-file-excel text-light"></i> &nbsp; Xác nhận xóa
					</a>
				</button>
			</div>
		}
		else
		{
			<div class="form-group">
				<button type="button" class="btn btn-success text-light js-btn-import">
					<a asp-action="UpdateFloor" asp-controller="AdminFloor" asp-route-id="@Model.Id" class="text-light">
						<i class="fa fa-file-excel"></i> &nbsp; Chuyển đổi 'Phòng' sang 'Tầng' khác 
					</a>
				</button>
			</div>
		}
		<div class="form-group">
			<partial name="_BackToList" />
		</div>
	</div>
</div>