@using Hotel.Data.Entities
 @model Hotel.Client.Areas.Admin.DTOs.Room.RoomDTOs
@{
	var RoomCate = TempData["RoomCate"] as List<AppRoomCate>;
	var Floor = TempData["Floor"] as List<AppFloor>;
}

<div class="modal fade" id="UpdateRoom" tabindex="-1" role="dialog" aria-labelledby="UpdateRoomLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 700px">
			<form asp-action="Update" asp-controller="AdminRoom" area="Admin" method="POST" >
				<div class="modal-header">
					<h3 class="modal-title fs-5" id="UpdateRoomLabel">Cập nhật phòng</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<input type="text" asp-for="Id" id="id" class="form-control d-none" />

							<div class="py-2">Tên phòng</div>
							<input type="text" asp-for="Name" id="name" class="form-control" placeholder="vd: P-102" required />
							<span asp-validation-for="Name" class="text-danger"></span>

							<div class="py-2">Hạng phòng</div>
							<select asp-for="IdRoomCate" id="idRoomCate" class="form-control form-select px-2 ps-0 text-center border border-secondary" required>
								<option value="">---Chọn hạng phòng--</option>
								@foreach (var item in RoomCate)
								{
									<option value="@item.Id">@item.Name</option>
								}
							</select>
							<span asp-validation-for="IdRoomCate" class="text-danger"></span>

							<div class="py-2">Tầng/khu vực</div>
							<select asp-for="IdFloor" id="idFloor" class="form-control form-select px-2 ps-0 text-center border border-secondary" required>
								<option value="">---Chọn tầng--</option>
								@foreach (var item in Floor)
								{
									<option value="@item.Id">@item.FloorNumber</option>
								}
							</select>
							<span asp-validation-for="IdFloor" class="text-danger"></span>

						</div>
						<div class="col-6">
				@* 			<div class="py-2">Trạng thái</div>
							<select asp-for="Status" id="statusSelect" class="form-control form-select px-2 ps-0 text-center border border-secondary" required>
								<option value="">---Chọn trạng thái--</option>
								<option value="1">Đang hoạt động</option>
								<option value="6">Tạm ngưng</option>
							</select>
							<span asp-validation-for="Status" class="text-danger"></span> *@

							<div class="py-2">Bắt đầu sử dụng</div>
							<input type="date" asp-for="UseStartDate" id="startDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" id="useStartDate" required />
							<span asp-validation-for="UseStartDate" class="text-danger"></span>

							<div class="py-2">Mô tả phòng</div>
							<textarea class="form-control" asp-for="Desc" id="desc" rows="4"></textarea>
							<span asp-validation-for="Desc" class="text-danger"></span>

						</div>
					</div>
					<div class="row w-100 mt-4">
						<span class="mx-2" style="font-size: 15px">*Lưu ý:</span>
					</div>
					<div class="row w-100">
						<p class="mx-2 my-0"> <span class="ps-2 text-danger ps-5" style="font-size: 15px">- Phòng sẽ được áp dụng theo giá và tiện nghi của hạng phòng</span></p>
						<p class="mx-2 my-0"> <span class="ps-2 text-danger ps-5" style="font-size: 15px">- Khi thay đổi trạng thái phòng sang 'Tạm ngưng' sẽ không còn hiển thị trên màn hình thu ngân để thực hiện đặt phòng</span></p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Hủy</button>
					<button type="submit" class="btn btn-primary">Cập nhật </button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	function UpdateRoom(name, idRoomCate, idFloor, startDate, desc, id) {
		document.getElementById('name').value = name;
		document.getElementById('idRoomCate').value = idRoomCate;
		document.getElementById('idFloor').value = idFloor;
		document.getElementById('startDate').value = startDate;
		document.getElementById('desc').value = desc;
		document.getElementById('id').value = id;

		// const statusSelect = document.getElementById('statusSelect');
		// switch (status) {
		// 	case "AVAILABLE":
		// 		statusSelect.value = "1";
		// 		break;
		// 	case "CHECKING_IN":
		// 		statusSelect.value = "2";
		// 		break;
		// 	case "CHECKING_OUT":
		// 		statusSelect.value = "3";
		// 		break;
		// 	case "OVERDUE":
		// 		statusSelect.value = "4";
		// 		break;
		// 	case "INACTIVE":
		// 		statusSelect.value = "6";
		// 		break;
		// 	default:
		// 		statusSelect.value = "";
		// 		break;
		// }


		const form = document.getElementById("updateRoomForm");
		const submitBtn = document.getElementById("submitBtn");
		const useStartDate = document.getElementById("startDate");

		const initialStartDate = useStartDate.value;
		useStartDate.setAttribute("min", initialStartDate);

		useStartDate.addEventListener("input", function () {
			const minDate = useStartDate.getAttribute("min");
			if (useStartDate.value < minDate) {
				useStartDate.setCustomValidity("Vui lòng chọn ngày không sớm hơn " + minDate + ".");
			} else {
				useStartDate.setCustomValidity("");
			}
		});
	}


</script>

